body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: purple;
=======
    background-color:green;
>>>>>>> parent of 9c3e980 (Delete style.css)
=======
    background-color: purple;
>>>>>>> parent of e39b5eb (Change color red)
}